.red{
    background-color: rgb(228, 6, 6);
    height: 208px;
    margin-bottom: 38px;
}

.blue{
    background-color: blue;
    height: 188px;
}

.green{
    background-color: rgb(11, 97, 11);
    height: 208px;
    margin-top: 38px;
}
